<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit movie details</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <header>
        <div class="logo"></div>
        <nav>
            <ul>
                <li><a href="/public/index.html" id="home" title="home"><i class="fa-solid fa-home"></i><span
                            class="labels">home</span></a></li>
                <li><a href="/public/services.html" id="services" title="services"><i
                            class="fa-solid fa-gears"></i><span class="labels">services</span></a></li>
                <li><a href="/public/booking.html" id="hiring" title="booking"><i class="fa-solid fa-receipt"></i><span
                            class="labels">Booking</span></a></li>
                <li><a href="/views/notification.html" title="response" id="response"><i
                            class="fa-solid fa-bolt"></i><span class="labels">response</span></a></li>
                <li><a href="/public/chats.html" id="chats" title="chatsbox"><i class="fa-solid fa-bell"></i><span
                            class="labels">notification</span></a></li>
                <li><a href="/public/requests.html" title="requests" id="request"><i
                            class="fa-solid fa-clipboard-list"></i><span class="labels">requests</span></a></li>
                <li id="admindash"><a href="/views/dashboard.html" title="dashboard" id="dashboard"><i
                            class="fa-solid fa-chart-line"></i><span class="labels">dashboard</span></a></li>
            </ul>
        </nav>
        <div class="signFeature">
            <div class="profile" id="profile">

            </div>
            <button id="loginBtn"><a href="/public/login.html">Log <span id="loginPart">In</span></a></button>
        </div>
    </header>

    <section class="movieEditSection">
        <form action="" method="post" id="movieEditForm">

            <fieldset>
                <legend>Movie Title</legend>
                <input type="text" name="" id="moviename">
            </fieldset>
            <fieldset>
                <legend>Director</legend>
                <input type="text" name="" id="director">
            </fieldset>
            <fieldset>
                <legend>Producer</legend>
                <input type="text" name="" id="producer">
            </fieldset>
            <fieldset>
                <legend>Run Time</legend>
                <input type="text" name="" id="runtime">
            </fieldset>
            <fieldset>
                <legend>Topic</legend>
                <select name="topic" id="topic">
                    <option value="">---select topic---</option>
                    <option value="culture">Culture</option>
                    <option value="education">Education</option>
                    <option value="politics">Politics</option>
                    <option value="relationships">Relationships</option>
                    <option value="parenting">Parenting</option>
                    <option value="parties">Parties</option>
                    <option value="leadership">Leardership</option>
                    <option value="war">Action and Wars</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Age Rating</legend>
                <select name="ageRating" id="ageRating">
                    <option value="">---select view audience--</option>
                    <option value="ge">GE</option>
                    <option value="pg13">PG 13</option>
                    <option value="pg16">PG 16</option>
                    <option value="pg18">PG 18</option>
                    <option value="pg">PG</option>
                    <option value="xrated">X RATED</option>
                    <option value="rrated">R RATED</option>
                </select>
            </fieldset>
            <fieldset>
                <legend>Release Date</legend>
                <input type="date" name="" id="releasedate">
            </fieldset>
            <button id="saveEdits">Save Changes</button>
        </form>

    </section>

    <footer>
        <div class="footerContent">
            <div class="social">
                <h4>social</h4>
                <a href="#"><i class="fab fa-tiktok"></i>chproduction</a><br>
                <a href="#"><i class="fab fa-instagram"></i>chproduction</a><br>
                <a href="#"><i class="fab fa-youtube"></i>chproduction</a><br>
                <a href="#"><i class="fab fa-facebook"></i>chproduction</a>
            </div>
            <div class="contact">
                <h4>Contact Us</h4>
                <Call:i class="fas fa-phone"></Call:i><span id="contactnumber">0793636325</span><br>
                <i class="fas fa-fax"></i><span id="contactfax">+254793636325</span><br>
                <i class="fas fa-envelope"></i><span id="contactemail">chprod@gmail.com</span><br>
            </div>
            <div class="helpcenter">
                <h4>help & Feedback</h4>
                <a href="feedback.html">Feedback</a><br>
                <a href="customercare.html">Customer Care</a><br>
                <a href="Help.html">Help</a>
            </div>
            <div class="quicklinks">
                <h4>Quick Links</h4>
                <a href="index.html">home</a><br>
                <a href="chats.html">Notification</a><br>
                <a href="requests.html">requests</a><br>
                <a href="services.html">services</a><br>
                <a href="booking.html">booking</a><br>
                <a href="films.html">films</a><br>
            </div>
        </div>
        <div class="copyrights">

        </div>
        <div class="creator">
            <sub id="creator">Created By<br>Outcast DHO</sub>
        </div>
    </footer>
    <script src="/public/main.js"></script>
    <script src="/public/profile.js"></script>
    <script src="edit.js"></script>
</body>

</html>